.row {
  margin: 0px;
}

#loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form{
  background-color: #46636d;
  width: 500px;
  text-align: center;
  border-radius: 60px;
  box-shadow: 4px 4px 2px -2px rgb(204, 203, 203);
}

#email{
  width: 250px;
  display: block;
  margin: auto;
}

#password{
  width: 250px;
  display: block;
  margin: auto;
}

#signIn{
  width: 40%;
}

#social {
  display: inline-block;
  padding: auto;
  margin-left: 15px;
  background-color: transparent;
}

#footerLogin{
  display: flex;
}

#remeberMe{
  margin-left: 25%;
}

#forgotPassword{
  text-align: center;
}

#button1{
  margin-left: 3%;
  border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
}

#icono:hover{
  color: blueviolet;
  animation-name: spin;
  animation-duration: 500ms;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(35deg);
  }
}


/* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/