.container {
  background-color: #46636d;
  right: 0px;
}

.row {
  margin: 0px;
}

#loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#form{
  background-color: #46636d;
}

#email{
  width: 300px;
  height: 40px;
}

#password{
  width: 300px;
  height: 40px;
}

#signIn{
  width: 100%;
}

#social {
  display: inline-block;
  padding: auto;
  margin-left: 15px;
  background-color: transparent;
}


/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/